.discord-container {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.400);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    right: 20px;
    z-index: 9999;
    border-bottom: 2.15px solid #7289DA;
    background-image: url("https://www.transparenttextures.com/patterns/black-linen-2.png");
}





